
<div class="wrapper">
    <section class="index-intro">
        <h1>Catalog Online</h1>
        <p>Aceasta aplicatie a fost creeata cu scopul de a usura vizualizarea notelor din anii universitari</p>
    </section>
      <section class="index-categories">
        <h2>Alte link-uri</h2>
        <div class="index-categories-list">
          <div>
            <a href="https://www.ub.ro/studenti/biblioteca"><h3>Librarie</h3></a>
          </div>
          <div>
            <a href="https://ligastudenteasca.ro/"><h3>Liga Studenteasca</h3></a>
          </div>
          <div>
            <a href="https://www.facebook.com/UniversitateaVasileAlecsandriDinBacau"><h3>Evenimente</h3></a>
          </div>
          <div>
            <a href="https://cadredidactice.ub.ro/"><h3>Profesori</h3></a>
          </div>
        </div>
      </section>
</div>
