<section style="height: 100vh !important;">
<div class="home container-fluid">
    <div class="wrapper">
        <section class="index-intro">
            <h1>Catalog Online</h1>
        </section>
    </div>
    <div class="row index-categories">
        <div class="container-fluid">
          <div class="row index-categories-list">
            <div class="col-sm">
              <a href="https://www.ub.ro/studenti/biblioteca"><h3>Librarie</h3></a>
            </div>
            <div class="col-sm">
            <a href="https://ligastudenteasca.ro/"><h3>Liga Studenteasca</h3></a>
            </div>
            <div class="col-sm">
            <a href="https://www.facebook.com/UniversitateaVasileAlecsandriDinBacau"><h3>Evenimente</h3></a>
            </div>
            <div class="col-sm">
              <a href="https://cadredidactice.ub.ro/"><h3>Profesori</h3></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>