<section>
  <div class="home container-fluid">
    <div class="row index-categories">
      <div class="container-fluid">
        <div class="row index-categories-list">
            <div class="col-sm">
              <a href="https://www.ub.ro/studenti/biblioteca">
                <button class="pushable">
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front bg-dark">
                    <h3>Librarie</h3>
                  </span>
                </button>
              </a>
            </div>
            <div class="col-sm">
              <a href="https://ligastudenteasca.ro/">
                <button class="pushable">
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front bg-dark">
                    <h3>Liga Studenteasca</h3>
                  </span>
              </button>
              </a>
            </div>
            <div class="col-sm">
              <a href="https://www.facebook.com/UniversitateaVasileAlecsandriDinBacau">
                <button class="pushable">
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front bg-dark">
                    <h3>Evenimente</h3>
                  </span>
                </button>
              </a>
            </div>
            <div class="col-sm">
              <a href="https://cadredidactice.ub.ro/">
                <button class="pushable">
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front bg-dark">
                    <h3>Profesori</h3>
                  </span>
                </button>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>