<div class="container-fluid">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Bine ai venit!</h3>
  
                <!-- Sign In Form -->
                <form [formGroup]="loginForm" (ngSubmit)="SignIn(loginForm.value)">
                  <div class="form-floating mb-3">
                    <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="name@example.com" >
                    <label for="floatingInput">E-mail</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password"  formControlName="password" class="form-control" id="floatingPassword" placeholder="Password" >
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
  </div>
  