<div class="container">
        <div class="login d-flex align-items-center py-5">
          <div class="container signup">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <form [formGroup]="registerForm" (ngSubmit)="Register(registerForm.value)">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="nume" formControlName="nume">
                        <label for="floatingInput">Nume</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="prenume" formControlName="prenume">
                        <label for="floatingInput">Prenume</label>
                      </div>
                    <div class="mb-3">
                      <select class="form-select" aria-label="Default select example" id="userType" (change)="changeUserType($event)"  formControlName="userType">
                        <option selected value="1">Student</option>
                        <option value="2">Profesor</option>
                      </select>
                    </div>
                    <div class="form-floating mb-3" *ngIf="isProfesorSelected">
                      <input type="text" class="form-control" id="floatingInput" placeholder="materie" formControlName="materie">
                      <label for="floatingInput">Materie</label>
                    </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
                    <label for="floatingInput">Adresa E-mail</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                    <label for="floatingPassword">Parola</label>
                  </div>
  
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Creeaza cont!</button>
                  </div>
  
                </form>
              </div>
            </div>
          </div>
      </div>
  </div>
  