<div class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container" id="navbar">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".test" aria-controls="test" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" [routerLink]="['/home']">Catalog Online</a>
    </div>
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 test">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" *ngIf="hideLogOut" [routerLink]="['/profil']">
                <button class="pushable">
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front bg-dark">Profil</span>
                </button>
              </a>
            </li>
          </ul>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 test">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" *ngIf="hideLogOut != true" [routerLink]="['/register']">
                <button class="pushable">
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front bg-dark">Inregistrare</span>
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="hideLogOut != true" [routerLink]="['/log-in']">
                <button class="pushable">
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front bg-dark">Log in</span>
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="hideLogOut" (click)="logOut()">
                <button class="pushable">
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front bg-dark">Logout</span>
                </button>
              </a>
            </li>
          </ul>
      </div>
  </div>
</div>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>