<nav>
  <div class="nav-bar-wrapper">
    <a href="index.php"><img src="../../../assets/images/Logo_Dedeman.png" alt="Dedeman logo"></a>
    <ul>
          <li><a  href="index.php">Acasa</a></li>
          <li><a href='profile.php'>Date Student</a></li>
          <li><a href='profile.php'>Note</a></li>
          <li><a *ngIf="hideLogOut" href='logout.php'>Logout</a></li>
          <li><a *ngIf="hideLogOut != true" [routerLink]="['/register']" href='signup.php'>Inregistrare</a></li>
          <li><a *ngIf="hideLogOut != true" [routerLink]="['/log-in']" href='login.php'>Log in</a></li>
    </ul>
  </div>
</nav>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>