<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{ currentUser?.nume }} {{currentUser?.prenume}}</h4>
                      <!-- <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Prenume</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ currentUser?.nume}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nume</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{currentUser?.prenume}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row" *ngIf="currentUser?.isStudent == true">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Anul</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      II
                    </div>
                  </div>
                  <div class="row" *ngIf="currentUser?.isStudent == false">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Materie</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{this.currentUser?.materie}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table class="table" style="background-color: white;text-align: center;" *ngIf="currentUser?.isStudent == true">
            <thead>
              <tr>
                <th scope="col">Disciplina</th>
                <th scope="col">Profesor</th>
                <th scope="col">Semestru</th>
                <th scope="col">Nota 1</th>
                <th scope="col">Nota 2</th>
                <th scope="col">Media</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let grade of studentGrades; let i = index;">
                <td>{{ grade.materie }}</td>
                <td>{{ grade.profesor }}</td>
                <td>{{ grade.semestru}}</td>
                <td>{{ grade.nota1 }}</td>
                <td>{{ grade.nota2 }}</td>
                <td class="badge bg-info text-dark" style="color: white !important;">{{ grade.medie}}</td>
              </tr>
            </tbody>
          </table>
            <table class="table"  *ngIf="currentUser?.isStudent == false" style="background-color: white;text-align: center;" >
              <thead>
                <tr>
                    <th>Student</th>
                  <th>Nota 1</th>
                  <th>Nota 2</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of studentList; let i = index;">
                  <td>{{ student.nume }} {{student.prenume}}</td>
                  <td>{{ student.nota1 }}</td>
                  <td>{{ student.nota2 }}</td>
                  <td>
                      <button type="button" (click)="OpenModal(student.uid)" class="btn btn-success">  
                          Noteaza
                  </button>
                </td>
               
              </tbody>
            </table>
        </div>
    </div>